.left{
    width:100%;
    height: 100%;
}
.left table{
    background:#E0ECFF;
    margin: 0 auto;
}
.left td{
    background:#eee;
}
.right{
    margin: 0 auto;
    width:100%;
}
.right table{
    background:#E0ECFF;
    width:100%;
}
.right td{
    background:#fafafa;
    color:#444;
    text-align:center;
    padding:2px;
}
.time, .blank {
    width: 100px;
}
.title, .drop {
    width: 104px;
}
.time, .drop {
    height: 42px;
}
.right td{
    background:#E0ECFF;
}
.right td.drop{
    background:#fafafa;
    width:100px;
}
.right td.over{
    background:#FBEC88;
}
.item{
    text-align:center;
    margin: 0 auto;
    background:#fafafa;
    color:#444;
    width:100px;
}
.assigned{
    border:1px solid #BC2A4D;
}
.trash{
    background-color:red;
}